#div_01{
    width: 200px;
    height: 200px;
    background-color: red;
}

#div_02{ 
    width: 200px;
    height: 200px;
    background-color: blue;
    padding: 20px;
    border: 10px solid black;
    box-sizing: border-box;
}
