.divCabecera {
    border: 3px solid black;
    background-image: url(Imagenes/PHOTOSHOP\ \(9\).jpg);
    padding: 50px;
}


.navbarColor{
    background-color: #cee;
}

.carousel {
    height: 50vh;
}

h1 {
    margin: 0;
}

.h2titulo {
    padding: 20px 0px 20px 0;
    margin:0; 
    background-color: #cee;
}

footer {
    margin:0;
    padding: 40px;
    background-color: #1a9;
    font-weight: 700;
    text-align: center;

}