body {
    background-color: lightgray;
}

h1{
    color: red;
    background-color: cadetblue;
    padding: 20px;
    box-sizing: border-box;
}

img{
    height: 500px;
    width: auto;
}

h2{
    color: blue;
    background-color: cadetblue;
    padding: 10px;
}

ul{
    background-color: cornflowerblue;
    padding: 20px;
}

li{
    background-color: lightsteelblue;
}