body{
    margin: 0;
}

.Contenedor{
    background-color: gray;
    /* padding: 50px; */
    /* width: 100px; */
    /* border: 10px solid black; */
    /* box-sizing: border-box; */
    /* margin: auto; */
}

.Div01{
    background-color: red;
    width: 100px;
    height: 100px;
}

.Div02{
    background-color: green;
    width: 100px;
    height: 100px;
}

.Div03{
    background-color: blue;
    width: 100px;
    height: 100px;
}